* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(221, 221, 221);
    font-size: clamp(14px, 1vw, 18px);
}
body{
    background-color: #121212;
}
@mixin flexColumn($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin Cards($img:""){
    width: 100%;
            background-image: url($img);
            aspect-ratio: 1/1;
            background-size: cover;
            border-radius: 0.7rem;

            padding: 1rem;
            @include flexColumn(0rem);
            justify-content: space-between;

            .icons , .bottom{
                background-color: #a1a1a175;
                backdrop-filter: blur(0.5rem);
                border: 1px solid #c3c3c3;
                padding: 0.5rem;
            }
            .top{
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }
            .icons{
                    width: fit-content;
                    border-radius: 50%;
                    cursor: pointer;
            }
            
            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;
                border-radius: 0.7rem;
                p{
                    text-transform: uppercase;
                }
            }
}

section{
    max-width: 1950px;
}
main{
    width: 100%;
    @include flexColumn(0rem);
    align-items: center;
    
    section.view1{
        width: 100%;
        @include flexColumn(1rem);        
        padding: 1rem;

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            background-color: rgb(34, 34, 34);
            @include flexColumn(1.9rem);
            padding: 1.9rem;
            border-radius: 0.7rem;

            .text{
                @include flexColumn(0.7rem);

                h1{
                    font-weight: 400;
                    font-size: 2.7rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.7;
                    line-height: 1.5;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1.5rem;
                    border-radius: 0.7rem;
                }
            }
        }
    }
    section.view2{
        @include flexColumn(2rem);
        width: 100%;
        padding: 1rem;
        text-align: center;
        margin: 1rem;
        .top, .bottom{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        small{
            opacity: 0.7;
            font-size: 1rem;
            letter-spacing: 0.15rem;
            line-height: 1.2rem;
        }
        h2{
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
        }
    }
    section.view3{
        width: 100%;
        @include flexColumn(1rem);        
        padding: 1rem;

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom>p{
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 0.1vw;
            }

        .bottom{
            background-color: rgb(34, 34, 34);
            @include flexColumn(4rem);
            padding: 1.9rem;
            border-radius: 0.7rem;
            .text{
                    @include flexColumn(0.7rem);

                h1{
                    font-weight: 400;
                    font-size: 2.7rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 400;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                    column-count: 1;
                }
            }
        }
    }
    section.view4{
        width: 100%;
        @include flexColumn(1rem);        
        padding: 1rem;

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

        .bottom>p{
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 700;
                letter-spacing: 0.1vw;
            }

        .bottom{
            background-color: rgb(34, 34, 34);
            @include flexColumn(4rem);
            padding: 1.9rem;
            border-radius: 0.7rem;
            .text{
                    @include flexColumn(0.7rem);

                h1{
                    font-weight: 400;
                    font-size: 2.7rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 400;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    line-height: 1.5;
                    column-count: 1;
                }
            }
        }
    }
    section.view5{
        width: 100%;
        @include flexColumn(1rem);        
        padding: 1rem;
        .top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:1rem;
            p{
                font-size: 2rem;
                letter-spacing: 0.2vw;
                font-weight: 400;
            }
            a{
                display: flex;
                text-decoration: none;
                color: rgb(221, 221, 221);
                cursor: pointer;
                gap: 1rem;
                letter-spacing: 0.1vw;
                display: none;
                i{
                    font-size: 1vw;
                    font-weight: 100;
                    text-align: center;
                    border: 1px solid rgb(221, 221, 221);
                    padding: 0.4rem;
                    border-radius: 50%;
                    background-color: #1E1E1E;
                    backdrop-filter: blur(2rem);
                }
            }
        }
    }
    section.view6{
        width: 100%;
        @include flexColumn(2rem);        
        padding: 1rem;
        .card1{
            @include Cards("https://images.unsplash.com/photo-1561624697-372a2fe6f897?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=716");
        }
        .card2{
            @include Cards("https://images.unsplash.com/photo-1631816290764-25bbf9ea8e85?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=778");
        }
        .card3{
            @include Cards("https://images.unsplash.com/photo-1584265829086-678c542c4838?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=697");
        }
    }
    section.view7{
        width: 100%;
        @include flexColumn(1rem);        
        padding: 1rem;

        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }

            .text>p{
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 0.1vw;
                font-weight: 400;
                opacity: 0.6;
            }
            h1{
                    font-weight: 400;
                    font-size: 2.7rem;
                    text-transform: uppercase;
            }

        .bottom{
            background-color: rgb(34, 34, 34);
            @include flexColumn(4rem);
            justify-content: space-between;
            padding: 1.9rem;
            border-radius: 0.7rem;
            
        }
        a{
                display: flex;
                text-decoration: none;
                color: rgb(221, 221, 221);
                cursor: pointer;
                gap: 1rem;
                letter-spacing: 0.1vw;
                text-align: center;
                
                i{
                    font-size: 1.5rem;
                    font-weight: 100;
                    border: 1px solid rgb(221, 221, 221);
                    padding: 0.4rem;
                    border-radius: 50%;
                    background-color: #3c3c3c;
                    backdrop-filter: blur(2rem);
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
            
            

        
    }
    section.view8{
        width: 100%;
        @include flexColumn(1rem);       
        padding: 1rem;
        .yellow{
            padding: 2rem;
            background-color: #CEBD63;
            border-radius: 0.7rem;
            color: #1a1a1a;
            @include flexColumn(1rem);
            .top{

                p{
                    font-size: 1.5rem;
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    opacity: 0.8;
                }
                h1{
                    font-size: 3rem;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }
            .bottom{
                
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    background-color: #121212;
                    font-weight: 700;
                    padding: 1rem;
                    border-radius: 0.7rem;
                    cursor: pointer;
                    word-spacing: 0.2rem;
                    text-decoration: none;
                    color: #c3c3c3;
                    text-transform: uppercase;
                    gap: 0.5rem;
                    i{
                        font-size: 1.2rem;
                        font-weight: 100;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    section.view9{
        width: 100%;
        @include flexColumn(1rem);       
        padding: 1rem;
        .footer{
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 19rem 1fr 10rem;
            gap: 0.8rem;
            overflow: hidden;
            
            .sec{
                border-radius: 0.7rem;
                padding: 2rem;
                background-color: rgb(34, 34, 34);
            }

            .sec1{
                @include flexColumn(1rem);
                justify-content: space-between;
                p{
                    font-size: 1.5rem;
                    letter-spacing: 0.25rem;
                    font-weight: 400;
                    opacity: 0.7;
                }
                .top{
                    display: flex;
                    gap: 1rem;
                    
                    .icons{
                        width: fit-content;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: #292929;
                        backdrop-filter: blur(0.5rem);
                        border: 1px solid #c3c3c3;
                        padding: 1rem;
                    }
                }
            }
            .sec2{
                @include flexColumn(1rem);
                gap: 1rem;
                overflow: hidden;
                ul{
                    padding: 0.5rem;
                    list-style: none;
                    @include flexColumn(1rem);
                    a{
                        text-decoration: none;
                        color:#999895;
                        cursor: pointer;
                        text-transform: uppercase;
                        font-size: 0.9rem;
                        font-weight: 600;
                        letter-spacing: 0.1rem;
                        line-height: 1.5rem;
                    }
                    .button{
                        background-color: #CEBD63;
                        color: #1a1a1a;
                        padding: 1.5rem 2rem;
                        border-radius: 0.7rem;
                        width: fit-content;
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        
                    }
                }
                h3{
                    font-size: 2rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    
                }

            }
            .sec3{
                @include flexColumn(2rem);
                align-items: center;
                .top{
                    text-align: center;
                    color:#999895;
                    p{
                        font-size: 1rem;
                        b{
                        color: #c3c3c3;
                    }
                    }
                }
                .bottom{
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color:#c3c3c3;
                        font-size: 1rem;
                        font-weight: 500;
                        cursor: pointer;
                        i{
                            width: fit-content;
                            border-radius: 50%;
                            cursor: pointer;
                            background-color: #292929;
                            backdrop-filter: blur(0.5rem);
                            border: 1px solid #c3c3c3;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
        
        
    }
}

@media (min-width:990px){
    main{
        section.view1{
            flex-direction: row;
            padding: 1rem;

            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3.5rem;

                .text{
                    gap: 1.5rem;
                    h1{
                        font-size: 4rem;
                    }
                    p{
                        width: 80%;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        section.view2{
            flex-direction: row;
            h2{
                font-size: 4rem;
            }
        }
        section.view3{
            flex-direction: row-reverse;
            padding: 1rem;
            .top, .bottom{
                width: 50%;
            }
            .bottom>p{
                letter-spacing: normal;
                font-weight: 700;
            }
            .bottom{
                justify-content: space-between;
                padding: 3.5rem;

                .text{
                    gap: 1.5rem;
                    h1{
                        font-size: 3rem;
                        font-weight: 400;
                    }
                    p{
                        font-size: 1rem;
                        column-count: 2;
                        column-gap: 2rem;

                    }
                }
            }
        }
        section.view4{
            flex-direction: row;
            padding: 1rem;
            .top, .bottom{
                width: 50%;
            }
            .bottom>p{
                letter-spacing: normal;
                font-weight: 700;
            }
            .bottom{
                justify-content: space-between;
                padding: 1.5rem;

                .text{
                    gap: 1.5rem;
                    h1{
                        font-size: 3rem;
                        font-weight: 400;
                    }
                    p{
                        font-size: 1rem;
                        column-count: 2;
                        column-gap: 2rem;

                    }
                }
            }
        }
        section.view5{
            .top a{
                display: block;
            }
        }
        section.view6{
            flex-direction: row;;
        }
        section.view7{
            flex-direction: row;
            padding: 1rem;
            .top, .bottom{
                width: 50%;
            }
        }
        section.view8{
            .yellow{
                flex-direction: row;
                justify-content: space-around;
                
                .top{
                    width: 70%;
                    h1{
                        font-size: 5rem;
                        width: 75%;
                        word-wrap: break-word;
                    }
                }
                .bottom{
                    
                    a{
                        
                        width: 12rem;
                        padding: 1rem;
                        
                    }
                }
            }
            
        }
        section.view9{
            .footer{
                grid-template-columns: 15rem 1fr;
                grid-template-rows: 1fr 5rem;
                gap: 1rem;
                grid-template-areas: "sec1 sec2"
                                        
                                        "sec1 sec3"
                ;
                .sec1{
                    grid-area: sec1;
                }
                .sec2{
                    grid-area: sec2;
                    flex-direction: row;
                    justify-content: space-evenly;
                } 
                .sec3{
                    grid-area: sec3;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }
}